<div class="card">
  <!-- Card view header -->
  <div class="card-header">
    <h2>Create Book</h2>
  </div>

  <!-- Render Book Creation/Update Form View -->
  <%= render "form", book: @book %>
</div>
<br/>

<!-- Button for Book Catalog -->
<div>
  <%= link_to "Books Catalog", books_path, class: "btn btn-success" %>
</div>
