<h1>Create Book</h1>
<br/>

<!-- Render Book Creation/Update Form View -->
<%= render "form", book: @book %>


<!-- Button for Book Catalog -->
<div>
  <%= link_to "Books Catalog", books_path, class: "btn btn-success" %>
</div>
